meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
meta(name='viewport' content='width=device-width, initial-scale=1')

meta(name='description' content='WHERE is your meta value ?')
meta(name='author' content='WHERE is your meta value ?')
meta(name='copyright' content='WHERE is your meta value ?')
meta(name='keywords' content='WHERE is your meta value ?')
meta(name='URL' content='WHERE is your meta value ?')
meta(name='image' content='WHERE is your meta value ?')

meta(property='og:locale' content='WHERE is your meta value ?')
meta(property='og:title' content='WHERE is your meta value ?')
meta(property='og:image' content='WHERE is your meta value ?')
meta(property='og:url' content='WHERE is your meta value ?')
meta(property='og:type' content='Website')
meta(property='og:description' content='WHERE is your meta value ?')
