doctype html
html(lang='zh-Hant')

	head

		include ./common/head.pug

	body

		.container

			.feature
				.logo
					| AWESOME
					br
					| SHARE
				.recent
					.section-title RECENT
					.list
						div A
						div B
						div C

			.creator
				.form
					.section-title SHARE
					.group.url
						label Url
						input.field(type='url' name='meta-url' value='https://youtu.be/H4TSbvA-Ors')
					.group.title
						label Title
						input.field(type='input' name='meta-title' value='【呱吉】孤獨的美食廢人EP9：滷味 啤酒 療傷系美食')
					.group.description
						label Description
						textarea.field(name='meta-description') 人生真的好難，所以要吃療傷系的滷味與啤酒
					.group.image
						label Image
						input.field(type='url' name='meta-image')
						input.image-upload(type='file')
					.group.upload
						#upload-html.button
							i.fa.fa-spinner.fa-spin
							| GO

				.preview
					.card
						.cover
							img
							i.fa.fa-spinner.fa-spin
						.title
						.description

					.link
						.title LINK
						a
