doctype html
html(lang='zh-Hant')

	head

		include ./common/head.pug

	body
		include ./common/snackbar.pug

		.container

			.login-wrapper
				.guest.active(rel='guest')
					| GUEST
				.login(rel='login')
					| LOGIN

			.feature
				.logo AWESOME SHARE
				.recent
					.section-info
						.section-title [ RECENT ]
					.list
						.status
							i.fa.fa-spinner.fa-spin
						.meta-object.meta-object-template
							.controls
								.delete
									i.fa.fa-times-circle
							.cover
							.data
								.title
								.description
								.link
									a(target='_blank')

			.creator
				.form
					.section-info
						.section-title [ SHARE ]
						.section-subtitle Make your sharing card here
					.group.url
						label Link
						input.field(type='url' name='meta-url' placeholder='sharing url')
					.group.title
						label Title
						input.field(type='input' name='meta-title' placeholder='page title')
					.group.description
						label Description
						textarea.field(name='meta-description' placeholder='page description')
					.group.image
						label Image
						.image-upload-group
							input.field(type='url' name='meta-image' placeholder='image url')
							i.fa.fa-cloud-upload
							input.image-upload(type='file')
					.group.upload
						#upload-html.button
							i.fa.fa-spinner.fa-spin
							| SAVE & SHARE

				.result

					.preview
						.section-info
							.section-title [ PREIVEW ]
							.section-subtitle Preview your sharing card here
						.card
							.cover
								img
								i.fa.fa-spinner.fa-spin
							.title
							.description

					.share-link
						.section-info
							.section-title [ LINK ]
							.section-subtitle Get Your Link Here
						a(target='_blank')
