doctype html
html(lang='zh-Hant')

	head

		include ./common/head.pug

	body

		.container

			.feature
				.logo
					| AWESOME
					br
					| SHARE
				.recent
					.section-title RECENT
					.list
						div A
						div B
						div C

			.creator
				.form
					.section-title SHARE
					.group.url
						label Url
						input(type='url')
					.group.title
						label Title
						input(type='input')
					.group.description
						label Description
						textarea
					.group.image
						input(type='file')
					.group
						#upload-html.button GO

				.preview
					.card
						.cover
						.title
						.description
