@import '../common.css';
@import url('https://fonts.googleapis.com/css?family=Sriracha');

body {
	background-color: #C4E9E5;
	color: #493B37;
	font-family: 'Sriracha';
	overflow: hidden;
}

.container {
	display: flex;
	width: 100%;
	margin: 0 auto;

	& .section-title {
		color: #FFF;
		font-size: 30px;
		font-weight: bold;
	}
}

.feature {
	width: 30%;
	padding: 50px 30px 50px 120px;
	box-sizing: border-box;

	& .logo {
		display: inline-block;
		padding: 10px;
		background: #8FD5CD;
		color: #FFF;
	}

	& .recent {
		margin-top: 120px;

		& .list {
			& > div {
				margin-bottom: 10px;
				background: #FFF;
			}
		}
	}
}

.creator {
	display: flex;
	width: 70%;
	max-height: calc(100vh - 100px);
	background-color: #B5E3DE;
	margin: 50px;
	box-sizing: border-box;
	border: #FFF 4px solid;
	border-radius: 4px;

	& .form,
	& .preview {
		padding: 20px 30px;
	}

	& .form {
		width: 50%;
		box-sizing: border-box;

		& .group {
			margin-bottom: 10px;

			& label {
				display: block;
			}

			& .field {
				font-size: 16px;
				width: 100%;
				border: none;
				box-shadow: none;
				box-sizing: border-box;
				padding: 12px;
			}
		}

		& .upload {
			color: #FFF;
			text-align: center;
		}

		& .button {
			width: 100%;
			box-sizing: border-box;
			background-color: #8FD5CD;
			padding: 10px 15px;
			margin-top: 30px;
			cursor: pointer;

			& i {
				display: none;
				margin-right: 5px;
			}

			&.loading i {
				display: inline-block;
			}
		}
	}

	& .preview {
		width: 50%;

		& .card {
			background: #FFF;
			border-radius: 2px;
			margin: 30px;
			padding: 0 0 10px;
			opacity: 0.7;

			&._show {
				opacity: 1;
			}

			& .cover {
				min-height: 80px;
				max-height: 240px;
				overflow: hidden;
				line-height: 0;
				position: relative;

				& > img {
					width: 100%;
					height: auto;
				}

				& > i {
					display: none;
					position: absolute;
					top: 40px;
					left: 50%;
					margin-left: -5px;
					color: #B5E3DE;
				}

				&.loading > i {
					display: inline-block;
				}
			}

			& .title,
			& .description {
				padding: 8px 12px 0;
				line-height: 1.2;
			}

			& .title {
				font-size: 18px;
				min-height: 18px;
			}

			& .description {
				opacity: 0.6;
				font-size: 13px;
				min-height: 13px;
			}
		}

		& .link {
			padding: 20px;
			background-color: #C4E9E5;
			opacity: 0;
			border-radius: 10px;

			& > a {
				color: #493B37;
				text-decoration: underline;
				font-size: 14px;
			}

			&._show {
				opacity: 1;
			}
		}
	}
}
