@import 'reset.css';

/* --- Align & Float --- */

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.clear-both {
	width: 100%;
	height: 1px;
	overflow: hidden;
	clear: both;
}
