.snackbar {
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	text-align: center;

	&.active {
		display: block;
	}

	&.fade {
		& .msg {
			opacity: 0.8;
		}
	}

	& .msg {
		display: inline-block;
		opacity: 0;
		transition: all 1s;
		padding: 4px 30px;
		background: var(--lightGray);
		color: var(--black);
		margin: 20px;
		border-radius: 40px;
		box-shadow: #333 0 1px 3px 0;
	}
}
